article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block;
}

audio, canvas, video {
	display:inline-block;
	display:inline;
	zoom: 1;
}

audio:not([controls]) {
	display:none;
}

html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

a {
	color:#262626;
	 text-decoration:none;
}

a:focus,  a:hover,  a:active  {
outline : 0 none;
}

sub,  sup  {
font-size : 75%;
line-height : 0;
position : relative;
vertical-align : baseline;
}

sup  {
top : -0.5em;
}

sub  {
bottom : -0.25em;
}

img {
 max-width: 100%;
width: auto;
height: auto;
vertical-align: middle;
border-radius: 3px;
	-ms-interpolation-mode:bicubic;
}

#map_canvas img {
	max-width:none;
}

button, input, select, textarea {
	margin:0;
	font-size:100%;
	vertical-align:middle;
}

button, input {
	overflow:visible;
	line-height:normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding:0;
	border:0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
}

input[type="search"] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-ms-box-sizing:content-box;
	-o-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:none;
}

textarea {
	overflow:auto;
	vertical-align:top;
}

.has-placeholder {
	position:relative;
	display:block;
	float:left;
}

.has-placeholder label {
	position: absolute;
top: 0px;
left: 0px;
vertical-align: middle;
color: rgb(51, 51, 51);
text-decoration: none;
overflow: hidden;
height: 100%;
padding: 0px 15px;
line-height: 42px;
font-family: 'roboto slab';
font-size: 1.1em;
}

textarea {
width: 246px;
border: 1px solid rgb(230, 230, 230);
color: rgb(46, 54, 57);
display: inline-block;
font-family: 'roboto slab',tahoma,verdana,arial,sans-serif;
font-size: 16px;
line-height: 1em;
padding: 10px;
text-decoration: none;
vertical-align: middle;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
background: rgb(230, 230, 230);
}

div.select-box-focus {
	outline:0;
	
}

.select-box {
   z-index: 0;
position: relative;
display: inline-block;
vertical-align: middle;
color: rgb(255, 255, 255) !important;
line-height: 4px;
text-decoration: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
padding: 0px;
overflow: hidden;
background-color: rgb(230, 230, 230);
border-radius: 3px;
height: 32px;
width: auto;
font-family:'roboto slab';
}

.select-box .select-box-label {
	height:16px;
	overflow:hidden;
	display:block;
	line-height:16px;
	float:left;
	position:absolute;
	top:0;
	padding:0px 15px;
	height:100%;
	color:#262626;
	line-height:30px;





}

.select-box a:hover {
	text-decoration:none;
}

.select-box select {
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:30px;
	-webkit-appearance:none;
	z-index:1003;
	padding-right:45px;
}

.select-box-icon {
	z-index:0;
	position:absolute;
	right:13px;
	top:-7px;
	right:0px;
	height:100%;
	width:24px;
	text-decoration:none;
	display:block;
	font-family:"icons";
	color:#404040;
	font-size:0.8em;
	text-align:left;
}

.ui-button {
	background-color:false;
	background-color:#70B120;
	display:inline-block;
	vertical-align:middle;
	color : #FFFFFF !important ;
	line-height:43px;
	text-decoration:none;
	padding: 0 35px;
	
	

}

.ui-button:hover  {
background-color: #dd9e34;

}

input.ui-button, button.ui-button {
	padding-left:15px;
	padding-right:15px;
}

.ui-button-main {
	background-color: #fab23a;
display: inline-block;
vertical-align: middle;
color: #262626 !important;
line-height: 43px;
text-decoration: none;
padding: 0px 15px;
	
}

a.ui-button {
	    background: url("../images/share3.png") no-repeat scroll 5px 5px rgb(250, 178, 58);
    line-height: 34px;
    border-radius: 3px;
    padding-left: 60px;
    color: rgb(38, 38, 38) !important;
    font-family: 'roboto slab';
    font-size: 1.1em;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
}

.ui-button-middle {
	font-size: 1em;
line-height: 1em;
height: 36px;
padding-left: 40px !important;
padding-right: 20px;
margin-bottom: 30px;
}

.doublebutton {
	float:right;
}

.doublebutton a {
	background-color: #fff;
border: 1px solid rgb(209, 209, 209);
cursor: default;
display: block;
float: left;
font-size: 11px;
font-weight: bold;
height: 16px;
outline: 0px none;
padding: 5px 6px;
text-align: center;
white-space: nowrap;
border-radius: 3px;
}

.doublebutton a span {
	text-indent:-9999px;
	float:left;
	width:16px;
	height:16px;
	background-image:url(../images/icons.png);
	cursor:pointer;
}

.doublebutton .list-button {
	margin-right:-1px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-right:none;
}

.doublebutton .list-button span {
	background-position:-16px -16px;
}

.doublebutton .grid-button {
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-left:none;
}

span.active a.grid-button span {
	background-position:-16px 0;
}

span.active a.list-button {
	border:solid 1px #d1d1d1;
	background-color:#f7f7f7;
}

span.active a.list-button span {
	background-position:0 -16px;
}

.active a.grid-button, .doublebutton a.list-button {
	background-color: #444;
border-color: #555;
}

.alert_form {
	padding-bottom: 30px;
border-bottom: 1px solid rgb(204, 204, 204);
margin-top: -10px;
}

.alert_form button {
	width:100%;
}

.alert_form input {
	width:184px;
	margin-bottom:12px;
}

.form-vertical .control-group {
	clear:both;
	margin-bottom:10px;
}

.form-container .controls input, .form-container .meta input {
background-color: rgb(230, 230, 230);
border: 0px solid rgb(230, 230, 230);
color: #262626;
display: inline-block;
font-size: 1em;
height: 30px;
line-height: 30px;
padding: 0px 10px;
text-decoration: none;
vertical-align: middle;
width: 280px;
border-radius: 3px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
font-family:'roboto slab';
}


.form-container .ui-drop-files {
	width:280px;
	padding:0 10px;
	height:70px;
	text-align:center;
	font-size:18px;
	line-height:70px;
	color:rgba(0, 0, 0, 0.5);
}

.form-container .controls {
	font-size:1em;
}

.form-container .main-button {
	background-color:#70B120;
	display:inline-block;
	vertical-align:middle;
	color:#fff !important;
	line-height:43px;
	text-decoration:none;
	padding:0 15px;
		
}

.form-container .checkbox input, input[type="checkbox"], .form-container .meta input[type="checkbox"], .form-container .controls input[type="checkbox"], input[type="radio"], .form-container .meta input[type="radio"], .form-container .controls input[type="radio"] {
	width:auto;
	height:auto;
	vertical-align:middle;
	margin-top:-2px;
	padding:0;
	border:none;
	box-shadow:none;
}

.meta_list .meta ul {
	margin:5px 0 0 0;
	padding:0;
	list-style:none;
	float:left;
}

.meta_list .meta ul li {
	clear:both;
	list-style:none;
}

.meta_list .meta ul li label {
	width:auto;
	margin-left:5px;
	float:none;
}

.meta_list .meta input[type="checkbox"] {
	margin-top:10px;
}

.meta_list .meta .cf_date_interval {
	width:100px;
}

.meta_list .meta:after {
	content:"";
	clear:both;
}

.form-container .checkbox {
	margin-bottom:5px;
}

.form-container .checkbox label {
	font-size:0.85em;
}

.form-horizontal .actions {
	border-top: 1px solid rgb(234, 234, 234);
padding: 10px 10px 15px 155px;
margin: 0px 15px;
margin-top: -20px;
	
}

.form-horizontal .actions a {
	color : #2E3639;
font-size : 0.87em;
padding-left : 10px;
text-decoration : none;
}

.form-horizontal label {
	float:left;
	width:160px;
	padding-top:7px;
	text-align:right;
	font-size:0.85em;
}

.form-horizontal .select-box {
	width:300px;
}

.form-horizontal .controls {
	margin-left:180px;
	line-height:32px;
}

.form-horizontal .controls label {
	float:none;
	width:auto;
	padding-top:0;
	text-align:left;
}

.form-horizontal .control-group, .form-horizontal .meta_list .meta {
	clear:both;
	margin-bottom:10px;
}

.form-container-box {
	
	margin:0 auto;
	
	box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
	background: #fff;


border-radius:3px;
}


.form-container-box .header {
	font-size: 1em;
padding: 14px 54px 11px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
margin-bottom: 30px;
background: url("../images/login4.png") no-repeat scroll 12px 8px rgb(38, 38, 38);

}

.form-container-box .header h1 {
	
	color: rgb(255, 255, 255);
margin: 0px;
}

body.item-post .select-box {
	margin-top: 10px;
}

#item-post select {
	width:300px;
}

.form-container .photos input {
	width:100%;
	border:0;
	margin:0;
	padding:0;
	box-shadow:none;
}

.photos_div {
	margin-bottom:20px;
}

.form-container .controls #photos a {
	font-size:12px !important;
}

button {
	vertical-align: middle;
text-decoration: none;
background: url("../images/reply-g.png") no-repeat scroll 8px 8px rgb(250, 178, 58);
display: inline-block;
font-size: 1.1em;

height: 41px;
border-radius: 3px;
border: 1px solid rgb(250, 178, 57);
color: rgb(38, 38, 38) !important;
font-weight: bold;
font-family: 'roboto slab';
padding-left: 45px;
padding-right:15px;

box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.157), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
	
}

.scrollup{
    width:64px;
    height:64px;
    opacity:0.2;
    position:fixed;
    bottom:25px;
    right:110px;
    display:none;
    text-indent:-9999px;
    background: url("../images/top.png") no-repeat;
}




button :hover  {
background: #555 ;
}

.ui-drop-files {
	box-shadow:none;
	border:4px dashed rgba(0, 0, 0, 0.2);
	height:100px;
	background:rgba(0, 0, 0, 0.1);
}

.bordered-box {
background: url("../images/warning.png") no-repeat scroll 10px 47px rgb(230, 230, 230);
border-radius: 3px;
padding: 15px 10px 0px 40px;
font-size: 0.75em;
margin-top: 20px;
margin-bottom: 25px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
border: 1px solid rgb(231, 231, 231);


}

.bordered-box h2 {
	font-size: 1.6em;
margin-top: -5px;
font-family: 'roboto slab';
font-weight: bold;
margin-left: -27px;
margin-bottom: -7px;
}

.form-container .photos input {
	width:100%;
}

.form-container .photos img {
	width:120px;
}

.photos_div a {
	display:block;
}

.arrow-up {
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #262626;
}

.hover .arrow-up {
	border-bottom-color:white;
}

.arrow-down {
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #262626;
}

.hover .arrow-down {
	border-top-color:white;
}

.arrow-left {
	width:0;
	height:0;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #262626;
}

.hover .arrow-left {
	border-right-color:white;
}

.arrow-right {
	width:0;
	height:0;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #262626;
}

.hover .arrow-right {
	border-left-color:white;
}

.paginate {
	text-align:center;
	clear:both;
}

.paginate li {
	display:inline;
	list-style-type:none;
}

img.avatar{
	
border-radius: 3px;
margin-left: -110px;
margin-right: 10px;
margin-bottom: 20px;

}

.paginate a, .paginate span {
	text-decoration: none;
margin: 0px 1px;
padding: 5px 10px;

border-radius: 3px;

}

.paginate a.previous {
	margin-right:15px;
}

.paginate a.next {
	margin-left:15px;
}

.paginate strong {
	border:1px solid #EEE;
	color:#F30;
	margin:0 1px;
	padding:5px 10px;
}

.paginate em {
	border:1px solid #EEE;
	color:#AAA;
	font-style:normal;
	margin:0 1px;
	padding:5px 10px;
	text-decoration:none;
}

.paginate em.previous {
	margin-right:15px;
}

.paginate em.next {
	margin-left:15px;
}

.searchPaginationSelected, .paginate a:hover {
	font-weight: bold;
background-color: #fab23a;
color: rgb(46, 54, 57);
}

.see_by {
	border-radius: 3px;
outline: 0px none;
position: relative;
text-align: center;
white-space: nowrap;
cursor: default;
font-family: 'roboto slab';
background: none repeat scroll 0% 0% rgb(230, 230, 230);
float: right;
display: block;
margin-right: 10px;
padding: 5px 7px;
font-size: 0.95em;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
color: rgb(38, 38, 38);
}

.see_by span {
	float:left;
}

.see_by label {
	color : #262626;
float : right;
margin : 0;
padding : 0 18px 0 5px;
}

.see_by ul {
background-color: #444;
list-style: none outside none;
margin: 22px 0px 0px;
padding: 8px 10px;
position: absolute;
right: -1px;
text-align: right;
display: none;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

.see_by ul a {
	font-size:1em;
	font-weight:500;
	color:#fff;
	font-size : 1em;
}

.see_by .arrow-up, .see_by .arrow-down, .see_by .arrow-right, .see_by .arrow-left {
	position:absolute;
	right:6px;
	top:11px;
}

.arrow-envelope {
	position:absolute;
	right:-1px;
	top:-1px;
}

.hover .arrow-envelope {
	background-color: #444;
border-image: none;
border-width: 1px 1px medium;
height: 28px;
width: 21px;
z-index: 3;
border-style: solid solid none;
border-top-right-radius: 3px;
}

.hover ul {
	display:block;
}

.wrapper-flash {
	font-weight:bold;
}
.phone {
background: url("../images/telephone.png") no-repeat scroll 3px 1px rgb(38, 38, 38);
color: rgb(255, 255, 255);
margin-bottom: 10px;
padding: 12px 0px 0px 50px;
border-radius: 3px;
font-weight: bold;

box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;

font-family: 'roboto slab';
}
.email  {
background: url("../images/email_c.png") no-repeat scroll 8px 7px rgb(38, 38, 38);
color: rgb(255, 255, 255);
margin-bottom: 10px;
padding: 0px 0px 0px 40px;
border-radius: 3px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
font-weight: bold;
line-height: 36px;
font-family:'roboto slab';

}

.name  {
background: url("../images/name_c.png") no-repeat scroll 8px 7px rgb(38, 38, 38);
color: rgb(255, 255, 255);
margin-bottom: 10px;
padding: 0px 0px 0px 35px;
border-radius: 3px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
font-weight: bold;
line-height: 35px;
font-family: 'roboto slab'

}

.clickable:hover  {
cursor : pointer !important ;
}




.flashmessage {
	    font-size: 14px;
    padding: 15px 0px;
    width: 100%;
    margin-top: 14px;
    z-index: 999;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 7px;
    border-radius: 3px;
}

.flashmessage-warning, .help-box {
	background-color:#d0a52a;
	
}

.flashmessage-error {
	background-color:#c44e20;
	
}

.flashmessage-ok {
	background-color:#839b44;
	
}

.flashmessage-info {
	background-color:#30a0ef;
	
}

.help-box {
	padding:5px 10px;
	display:inline-block;
	color:#fff;
	font-size:14px;
	margin:10px 0;
	
}

.flashmessage .ico-close {
	position:absolute;
	top:14px;
	right:17px;
	float:right;
	font-size:18px;
	line-height:18px;
	color:white;
	text-shadow:none;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
}

.flashmessage-error .close {
	color:#B94A48;
}

.flashmessage-warning .close {
	color:#C09853;
}

.flashmessage-success .close, .flashmessage-information .close {
	color:#3A87AD;
}



#error_list, .error_list {
	
color: rgb(255, 255, 255);
display: none;
list-style: none outside none;
background: url("../images/warning-ss.png") no-repeat scroll 3px 2px #b10101;
padding: 10px 10px 10px 35px;
border-radius: 3px;
font-weight: bold;
font-family: 'roboto slab';
}

#error_list li, .error_list li {
	list-style:none;
	padding:2px 0 2px 18px;
}

#error_list li label, .error_list li label {
	margin-top:0;
	float:none;
	width:auto;
}

.user-card {
	background-color : #F7F7F7;
height : 120px;
margin-bottom : 25px;
padding-left : 120px;
position : relative;
}

.user-card ul {
	padding:15px;
	margin:0;
	list-style:none;
}

.user-card .name {
	font-size:1.5em;
	margin-bottom:15px;
}

.user-card .website {
	font-size:0.725em;
}

.user-card .location, .user-card .adress {
	font-size:0.725em;
}

.user-card img {
	position:absolute;
	left:0;
	top:0;
	width:120px;
}


html {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
	font-size:100%;
	line-height:1.125em;
	font-family: 'Roboto Slab', serif;
	color:#262626;
	font-weight:400;
}

.icons {
	font-size:32px;
	line-height:32px;
}

.icons :after {
	display:inline-block;
	font-family:"icons";
}

.ico-search:after {
	content:"s";
}

.ico-menu:after {
	content:"m";
}

.ico-grid:after {
	content:"g";
}

body {
	margin:0;
	padding:0;
	font-family:'roboto slab',Helvetica,Arial,sans-serif;;
	color:#262626;
	
	background: #e9e9e9;

}

.wrapper {
	width:980px;
	margin-left:auto;
	margin-right:auto;
}

#responsive-trigger {
	display:none;
}

fieldset {
	border:0;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5 {
	font-weight:bold;
	
	font-family: 'Roboto Slab', serif;
	
	letter-spacing:-0.03em;
	line-height:1em;
	margin-top:0;
	
}

h1 {
	font-size:1.8em;
}

h2 {
	font-size:1.8em;
}

h3 {
	font-size:1.5em;
}

h4 {
	font-size:1.3em;
}

h5 {
	font-size:1.15em;
}

.clear {
	clear:both;
}

body.search #sidebar, body.user #sidebar {
	float: left;
width: 249px;
border-radius: 3px;
}

body.search #main, body.user #main {
	float: right;
width: 660px;
background-color: rgb(255, 255, 255);
padding: 15px;
border: 1px solid rgb(214, 214, 214);
border-radius: 3px;
}

body.search .list-header .actions {
	height:35px;
}

.resp-toogle {
	display:none;
}

.title-has-actions {
	border-bottom:solid 1px #eaeaea;
	margin-bottom:10px;
}

.title-has-actions h1, .title-has-actions h2, .title-has-actions h3 {
	float:left;
	margin-bottom:0;
}

.title-has-actions a {
	float:left;
	margin-left:10px;
	font-size:0.825em;
	line-height:2em;
}

.flashmessage-404 {
	background-color:#FCF8E3;
	border:solid 1px #FBEED5;
	color:#C09853;
	border-radius:5px;
	font-size:15px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:10px 15px;
	margin-top:25px;
}

.flashmessage-404 ul {
	list-style:disc;
	padding:10px 0px 10px 25px;
}

body.not-found .categories h2, body.not-found .categories h3 {
	
	float : left;
font-size : 15px;
margin : 5px 0;
width : 25%;
}

body.not-found .categories {
	margin-top:10px;
}

body.not-found fieldset.main {
	padding:10px 0;
}

body.not-found #uniform-sCategory {
	display:none;
}

body.not-found h1 {
	font-size:24px;
	margin-bottom:20px;
}

body.not-found #query {
	background-color:#fff;
	border:solid 1px #bfbfbf;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	box-shadow:inset 0 1px 0 0 #E0E0E0;
	display:inline-block;
	vertical-align:middle;
	color:#646464;
	line-height:43px;
	text-decoration:none;
	padding:0 15px;
	box-shadow:inset 0 1px 0 0 #dfd8d8;
	width:280px;
	padding:0 10px;
	height:34px;
	line-height:30px;
	font-size:1em;
	
	
}

#footer {

background : #262626;
	
box-shadow: 0px 6px 16px -6px black inset;
clear : both;
font-size : 0.9em;
margin-top : 50px;
padding-bottom : 320px;
padding-top : 25px;
border-top: 5px solid rgb(250, 176, 35);

}

#footer ul {
	float:right;
}

#footer a {
	text-decoration: none;
color: #d0d0d0;
font-family: 'roboto slab';
}

#footer a:hover {
	color:#fab023;
}
#footer img:hover{
	opacity: 0.8;
	
}

#footer li {
	display:inline;
	margin-left:10px;
}

.footer-links, #footer ul {
	list-style:none;
	padding:0;
	margin:0;
	clear:both;
	color:#c0c0c0;
	text-align: center;

}

.footer-links li {
	float:left;
	width:31%;
	padding-right:2%;
	margin-bottom:5px;
	font-size:0.725em;
}

#footer .resp-toogle .publish {
	padding:0;
	margin:15px 0;
	display:block;
}
ftlnk{
color: rgb(136, 136, 136);
font-family: 'roboto slab';
text-align: center;
float: right;

}

#footer .resp-toogle .publish a {
	background: url("../images/pinalt.png") no-repeat scroll 7px 6px rgb(250, 178, 58);
color: #262626;
display: inline-block;
vertical-align: middle;
line-height: 43px;
text-decoration: none;
width: 100%;
font-size: 1.4em;
padding: 0px;
border-radius: 3px;
-moz-box-sizing: border-box;
margin: 0px;
font-family: 'roboto slab';
	-webkit-box-sizing:border-box;
	
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	
}


#footer .about-box p, #footer .write-box p, #footer .advertice-box p {     font-size: 0.85em;
    font-family: 'roboto slab';
    float: left;
    text-align: left;
    color: #888;
} 






#footer p { color: #848889 }

#footer .title {
 display: block;
color: #fff;
font: 2em 'roboto slab';
margin: 0px 0px -10px;
padding-top: 20px;
}

#footer .info-box { float: left ; font-size: 2.0em}

#footer .about-box, #footer .write-box {
 float: left;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: 29.134%;
 margin-right: 6.299%;
}
#footer .write-box { }

#footer .advertice-box {
 width: 29.134%;
 float: left;
 margin-right: 0px;
}

#footer .about-box .title {
 background: url("../images/about.png") no-repeat scroll 0% 0% transparent;
width: 200px;
height: 64px;
padding-left: 80px;

;
}
#footer .write-box .title {
 background: url("../images/sell.png") no-repeat scroll 0% 0% transparent;
 width: 238px;
 height: 64px;
 padding-left: 80px;

}
#footer .advertice-box .title {
 background: url("../images/buy.png") no-repeat scroll 0% 0% transparent;
 width: 200px;
 height: 64px;
 padding-left: 80px;

}

#footer .social-networks-footer {

    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
  
	
	
	display: inline-block;
vertical-align: top;
padding-right: 10px;
margin-left: auto;
margin-right: auto;
text-align: center;
line-height: 3;
margin-top: -10px;
}

::selection {
background:rgb(230, 230, 230);
color:#262626;
}

::-moz-selection {

background:rgb(200, 200, 200);
color:#262626;
}

::-webkit-selection {
background:rgb(230, 230, 230);
color:#262626;
}



#header {
border-bottom: 5px solid rgb(250, 176, 35);
background: none repeat scroll 0% 0% rgb(38, 38, 38);
width: 100%;
display: block;
position: relative;
box-shadow: 0px -6px 16px -6px black inset;
height: 65px;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 20px;




}

#header .wrapper {
	position:relative;
}

#header #logo {
	color:#fff;
	font-family:"Osclass";
	border:none;
	font-size:2.7em;
	line-height:1.5em;
	
	

}

#header #logo a {
	font-size:1.5em;
	line-height:0.8em;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
}

#header .publish a {
border-radius: 3px;
display: inline-block;
vertical-align: middle;
color: rgb(38, 38, 38) !important;
line-height: 43px;
text-decoration: none;
padding: 0px 5px 0px 33px;
margin-top: -7px;
font-family: 'roboto slab';
font-size: 1.1em !important;
background: url("../images/pinalt.png") no-repeat scroll 1px 6px rgb(250, 178, 58);
}

#header #logo span {
	
	display:none;
	
}

.main-search {
position: relative;
width: 440px;
margin: -45px auto 0px;
	
}

.main-search .has-placeholder {
	float:none;
}

.main-search input {
	
background-color: #fff;
display: inline-block;
font-size: 18px;
text-decoration: none;
padding: 0px 15px;
vertical-align: middle;
color: #262626 !important;
height: 42px;
line-height: 40px;
border: 1px none;
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
width: 280px;
font-family:'roboto slab';
}

.main-search .selector {
	height : 0;
}

.main-search .reset-padding {
	padding-left:0px;
}

.main-search .ui-button {
	vertical-align: middle;
font-size: 0px;
font-weight: 700;
margin-top: 0px;
height: 42px;
display: inline-block;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
background: url("../images/searchtop.png") no-repeat scroll 5px 4px rgb(250, 178, 58);
text-decoration: none;
padding-right: 27px;
}

.main-search .cell {
	display:table-cell;
	
	vertical-align:top;
}

#header .nav {
	position: absolute;
right: 0px;
top: -14px;
padding: 0px;
margin: 0px;
list-style: none outside none;
}

#header .nav li {
	margin-right: 0px;
margin-top: 10px;
position: relative;
float: left;
}

#header .nav li.search, #header .nav li.cat {
	display:none;
}

#header .nav li a, #header .nav li span {
	color: white;
font-size: 0.75em;
}

#header .nav li {
	color:white;
font-family: 'roboto slab';
}

#header .nav li a:hover {
	color:rgb(250, 178, 58);
;
}


#header .nav li a {
	margin-left:10px;

}

#header .nav li.publish {
	clear: both;
float: right;
margin-top: 10px;
}
#header .nav li.publish *:hover  {
background-color : rgb(221, 158, 52);

}
.main-search .select-box .select-box-label {
	line-height:43px;
}

.main-search .select-box select {
	width:auto;
	height:42px;
}

.main-search .select-box-icon {
	top:0px;
}

.wrapper-flash {
	
}

div.breadcrumb {
	margin: 9px 0px;
width: auto;
padding: 2px 0px 9px;
border-radius: 3px;
font-family: 'roboto slab';
font-size: 0.85em;
height: 13px;
color: rgb(102, 102, 102);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.157), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

ul.breadcrumb {
	list-style:none;
	margin:0;
	padding:0;
	padding-left:15px;
}

ul.breadcrumb li {
	float:left;
	padding:0 ;
	
	padding-right:6px;
	
	
}
/*hahaha*/
.r-list {
	display:none;
	margin:0px 40px 0 0;
	padding:0;
	list-style:none;
}

.latest_ads {
	font-size: 16px;

border-radius: 3px;
background-color: rgb(255, 255, 255);
padding-top: 17px;
}

.latest_ads h1 {
	float:left;
}


/* Social Icons 
----------------------------------------------- */

a.social-icons {
	margin-right: 5px; /*Adjust This Value As Needed*/
}

a.social-icons:hover {
	opacity: .7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}



.latest_ads .actions {
	float:right;
	margin-top:5px;
}

body.home .r-list {
	display:block;
}

body.home #main {
width: 640px;
float: left;
background-color: rgb(255, 255, 255);
padding: 17px;
border-radius: 3px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;

padding-top: 0px;
	
}

.tbl {
	display:block;
	width:100%;
}

div.first_cel ul {
	margin:0;
}

.cell_3 {
	width:33%;
	float:left;
}

.cell_3 ul {
	margin:0;
	margin-left:20px;
}



ul.r-list li h1 a:hover  {
color: rgb(102, 102, 102);
text-shadow: none;
}







.r-list li {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.r-list li .r-list li li {
	float:none;
	width:100%;
}

.r-list li>li:nth-child(4n), .r-list li .clear {
	clear:both;
}

ul.r-list li h1 {
	margin:25px 0 10px 0;
	padding:0;
	font-size:1.4em;
	overflow:hidden;
	text-overflow:ellipsis;
}

ul.r-list li h1 a {
	font-size:1em;
       text-transform:uppercase !important;
}

ul.r-list li h1 span {
	font-weight:normal;
}

ul.r-list li a, ul.r-list li span {
	text-decoration:none;
	font-size:0.8125em;
}

ul.r-list li ul {
	list-style:none;
	margin:0;
	padding:0;
}

.list-header {
	margin-bottom:15px;
	z-index:3;
	position:relative;
}

.listing-card-list {
	margin:0;
	padding:0;
	list-style:none;
	clear:both;
}

.see_more_link {
	clear:both;
}

.counter-search {
	float:left;
	line-height:32px;
}

#main h5 {
	margin-bottom:10px;
}

#related-searches {
	padding-top:25px;
}

#related-searches h5 {
	margin-bottom:10px;
	font-size:1em;
}

.listing-card {
clear: both;
padding: 10px 0px;
position: relative;
display: table;
background-color: rgb(230, 230, 230);
border-radius: 3px;
margin: 0px 0px 15px;
width: 98.5%;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
padding-left:9px;





}




.listing-card .listing-basicinfo, .listing-card .listing-attributes {
	display: block;
vertical-align: top;
width: 78%;
padding-left:9px;


}
input#yourname {
	background:#222 !important;
}


.listing-card .listing-attributes {
	width:auto;
}

.listing-card .currency-value {
	white-space: nowrap;
background-color: rgb(250, 178, 58);
color: rgb(58, 58, 59);
font-weight: bold;
padding: 3px;
border-radius: 3px;
line-height:30px;
padding-left:10px;
margin-top:10px;


}

.listing-card .listing-data {
	display:table-row;
	width:100%;
}

.listing-card .listing-detail {
	width:auto;
	margin-left:105px;
}

.listing-card .listing-cell {
	display:table;
	width:100%;
}

.listing-card .listing-thumb {
	float:left;
}




.listing-card .listing-thumb img {
	height: 100px;
width: 100px;

border: 1px solid rgb(223, 223, 223);	
}

.listing-card .listing-data p {
	display:none;
}


.listing-card .listing-attributes {
	font-size: 0.78em;
color: rgb(119, 119, 119);
padding: 4px 0px 8px;
line-height: 1em;
margin-left: 0px;
margin-left: -7px;
margin-right: 10px;
}

.listing-card .listing-attributes a {
	color:#777;
	font-weight:bold;
}

.listing-card .listing-attributes a {
	text-decoration:none;
}

.listing-card .listing-attributes a:hover {
	text-decoration:underline;
}

.premium-list li.listing-card, li.listing-card.premium {
	background-color:#FCFCD7;
}

.listing-grid .last {
	margin-right:0px;
}

.listing-grid .listing-card {
	float:left;
	width:190px;
	padding:6px;
	background-color:#FFF;
	border:1px solid #ECECEC;
	margin:0 9px 9px 0;
	position:relative;
	display:block;
	clear:none;
}

.listing-grid .listing-card .listing-attributes .location {
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.listing-grid .listing-card .listing-attributes .location a {
	display:inline;
}

.listing-grid .listing-card img {
	width:100%;
	height:auto;
	float:none;
}

.listing-grid .currency-value {
	display:block;
}

.listing-grid .listing-detail {
	margin-left:0;
}

.listing-grid .listing-basicinfo, .listing-grid .listing-data {
	width:100%;
	display:block;
}

.listing-grid .listing-thumb {
	width:100%;
}

.listing-grid .listing-cell {
	display:block;
}

.listing-grid .listing-basicinfo p {
	display:none;
}

.listing-grid .listing-basicinfo a {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
display: inline-block;
margin-left: -7px;
margin-right: 9px;
margin-top: 10px;
}

.listing-grid .g-hide {
	display:none;
}

body.search .listing-grid .last {
	
}

body.search .listing-grid .listing-card {
	width:195px;
}

body.home .listing-grid .first {
	clear:both;
}

#sidebar {   background-color: rgb(255, 255, 255);
border-radius: 3px;
display: block;
float: right;
width: 270px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
padding: 15px;

}

#sidebar fieldset {
	margin:0;
	padding:0;
	border:none;
}

#sidebar h3 {
	margin: 5px 0px 5px;
line-height: 1.2em;
font-size: 1.2em;
	
	
}

#sidebar fieldset {
	font-size: 0.8125em;
line-height: 0.8125em;
padding: 5px 0px 0px;
}

#sidebar input {
	vertical-align:bottom;
}

#sidebar .input-text, #sidebar input[type="text"] {
background-color: rgb(230,230,230);
display: inline-block;
vertical-align: middle;
color: rgb(38, 38, 38);
text-decoration: none;
width: 100%;
padding: 0px 10px;
height: 30px;
line-height: 28px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
-moz-box-sizing: border-box;
border: 1px solid rgb(230,230,230);
border-radius: 3px;
	-webkit-box-sizing:border-box;

	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

#sidebar ul.category, #sidebar ul.category ul {
	padding:0;
	margin:0;
	list-style:none;
}

ul.sidebar-list, ul.user_menu {
	padding:0;
	margin:0;
	list-style:none;
}

body.user #sidebar {
	border-right:solid 1px #eaeaea;
}

#sidebar ul.category li, ul.sidebar-list li, ul.user_menu li {
	padding:3px 0;
	line-height:1.15em;
}

ul.user_menu li {
	padding:0 0 12px;
	font-size:0.8125em;
	line-height:0.8125em;
}

#sidebar ul.category ul {
	padding-left:15px;
}

#sidebar .show-sub a {
	font-weight:bold;
}

#sidebar .show-sub li a {
	font-weight:normal;
}

#sidebar .price-slice input, #sidebar .two_input input {
	padding: 0px 5px;
margin-right: 2px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-top: 5px;
margin-bottom: 5px;
}

#sidebar .two_input input {
	width:70px;
}

#sidebar .price-slice span {
	margin-right:0px;
}

#sidebar button {
vertical-align: middle;
text-decoration: none;
background: url("../images/reply-g.png") no-repeat scroll 8px 8px rgb(250, 178, 58);
display: inline-block;
font-size: 1.1em;
width: 100%;
height: 41px;
border-radius: 3px;
border: 1px solid rgb(250, 178, 57);
color: rgb(38, 38, 38) !important;
font-weight: bold;
font-family: 'roboto slab';

margin-bottom: -10px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.157), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
}
#sidebar button:hover {

background: url("../images/reply-g.png") no-repeat scroll 8px 8px  #dd9e34;

}

#sidebar .actions {
	padding-top: 15px;
padding-bottom: 25px;
border-bottom: solid 1px #ccc;
}

#sidebar .plugin-hooks h6 {
	margin:0;
	margin-bottom:10px;
	line-height:1em;
	font-size:1em;
	font-weight:normal;
	font-family:"Osclass";
	color:#666;
}

#sidebar .plugin-hooks .row {
	margin-bottom:10px;
}

#sidebar .select-box {
	width:100%;
}

#sidebar a {
background: #262626;
border-radius: 3px;
padding: 5px;
margin-bottom: 5px;
line-height: 2;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
color: rgb(250, 178, 58);
}

#sidebar a:hover {
	background: #fab023;
border-radius: 3px;
padding: 5px;
color: #262626;}

.widget-box {
	
	
	
	
}

.widget-box h3 {
	margin:0;
}

.widget-box ul {
		padding:0;
	list-style:none;
}

.widget-box li a {
	text-decoration:none;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	font-weight:normal;
	font-size: 0.9em;
	display:block;
	padding:4px 5px;
	border-radius:0px;
	margin:-1px 0;
	position:relative;
	border-bottom:solid 1px #eaeaea;
	border-top:solid 1px #eaeaea;
}

.widget-box li li a:hover {
	background-color:#8bdce9;
	border-color:#f7f7f7;
	color:#fff;
	z-index:2;
	border-radius:3px;
}

body.item #sidebar .widget-box, body.user-public-profile #sidebar .widget-box {
	padding-top: 17px;
}

body.item #sidebar .form-container .controls input, body.item #sidebar .form-container .controls textarea, body.user-public-profile #sidebar .form-container .controls input, body.user-public-profile #sidebar .form-container .controls textarea {
	
border-radius: 3px;
background-color: rgb(230, 230, 230);
}

body.item #sidebar .form-container label, body.user-public-profile #sidebar .form-container label {
	font-size:0.85em;
}

body.item #contact h2, body.user-public-profile #contact h2 {
	margin-top: -10px;
margin-bottom: -5px;
}

body.item #main, body.user-public-profile #main {
background: rgb(255, 255, 255);
border-radius: 3px;
float: left;
padding: 15px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;

width: 640px;
}

body.item #main .header{
    background: url("../images/pinpub.png") no-repeat scroll 15px 9px rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    margin: -15px -15px 10px;
    padding: 15px 15px 1px 54px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 40px;

}

body.item #main .header .h1{

padding-left:150px;
}

.item-photos .main-photo {
	width: 640px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid rgb(223, 223, 223);
border-radius: 3px;


}

.item-photos .thumbs {
border-top: 5px solid rgb(250, 176, 35);
float: left;
width: 625px;
border-radius: 3px;
background: none repeat scroll 0% 0% rgb(38, 38, 38);
padding: 8px;
margin-bottom: 20px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
}



.item-photos .thumbs img  {
border: 1px solid rgb(255, 255, 255);
height: 93px;
border-radius: 3px;
width: 93px;
margin-right: 4px;
}




.item-header {
	border-radius: 3px;
color: rgb(38, 38, 38);
background: url("../images/info.png") no-repeat scroll 5px 5px rgb(230, 230, 230);
font-size: 80%;
padding: 5px 5px 5px 47px;
margin-top: 28px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
}

.item-header #type_dates {
	float:right;
}

.item-header #type_dates em {
	font-style:normal;
}

#item_location {
	list-style:none;
	margin:0;
	padding:0;
}

#item_location li {
	display:inline;
}

#description {
clear: both;
background: url("../images/descrip.png") no-repeat scroll -2px -2px rgb(255, 255, 255);
padding-top: 17px;
	
}

div.mark_as {
border-radius: 3px;
border: medium none;
background: url("../images/flag.png") no-repeat scroll 90px rgb(224, 224, 224);
font-family: 'roboto slab';
line-height: 150px;
font-size: 1em;
width: 120px;
margin-bottom: 7px;
float: right;
padding-left: 0px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;

}

.mark_as a {
	width:100%;
	height:auto;
	display:block;
	top:0;
	left:0;
	position:absolute;
}

.mark_as .select-box-label {
	
	position:relative;
	float:none;
	
	
}

.similar_ads h2 {
	margin-top:15px;
}

.admin-options {
	font-size:0.725em;
}

.admin-options a {
	margin:0 5px;
}

#comments {
	margin-top:15px;
}

body.item h1 .price {
	font-weight: bold;
font-size: 22px;
float: right;
border-radius: 3px;
background: url("../images/pricetag.png") no-repeat scroll -4px -10px rgb(250, 178, 58);
padding: 10px 12px 9px 36px;
margin-left: 10px;

}

.similar_ads h2 {
font-size: 1.7em;
padding-left: 40px;
padding-top: 3px;

margin-bottom: 15px;}

.similar_ads  {
	background: url("../images/similar.png") no-repeat scroll 3px 0px rgb(255, 255, 255);
	margin-bottom:30px;
}


.item #comments  h2{
	padding-left: 55px;
padding-top: 15px;
font-size: 1.7em;
}

.item #comments h3 {
	font-size:1em;
}

.item #comments {
clear: both;
float: left;
width: 100%;
background: url("../images/comments2.png") no-repeat scroll 0px 0px ;
margin-bottom: 35px;
}

.item #comments .comments_list {
	
}

.item #comments .comment {
	background: none repeat scroll 0% 0% rgb(230, 230, 230);
border-radius: 3px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.247), 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
margin-bottom: 15px;
padding: 10px 10px 1px 120px;
height: 125px;
}

.item #comments .comment h3 {
	color: rgb(102, 102, 102);
margin-left: 15px;
margin-top: -135px;
margin-bottom: 140px;
}

.item #comments .comment h3 em {
color: rgb(38, 38, 38);
font-size: 14px;
font-weight: bold;
}

.item #comments .comment p {
color: rgb(38, 38, 38);
font-style: italic;
line-height: 17px;
margin-left: 15px;
margin-top: -135px;
}

.item #comments .pagination {
	text-align:right;
	margin-right:10px;
	margin-bottom:15px;
}

.item #comments .pagination a {
	border:1px dotted #AAA;
	padding:5px 8px;
}


.item #comments .pagination a.searchPaginationSelected {
	background-color:#f7f7f7;
}

.item #comments .pagination a.searchPaginationNext, .item #comments a.searchPaginationPrev, .item #comments .pagination a.searchPaginationFirst, .item #comments a.searchPaginationLast {
	border:0px;
	text-decoration:none;
}

.item #comments .pagination a.searchPaginationNext:hover, .item #comments a.searchPaginationPrev:hover, .item #comments .pagination a.searchPaginationFirst:hover, .item #comments a.searchPaginationLast:hover {
	background-color:#ffffff;
}

.item #comments a:hover {
	background-color:#f7f7f7;
}

@media only screen and (max-width: 740px) {
ftlnk{

margin-top: 13px;

}
div.breadcrumb{
	display:none;
}




	.wrapper, #footer {
	padding-left:10px;
	padding-right:10px;
	width:auto;
}

.has-placeholder {
	float:none;
}

div#main, body.home #main, body.search #main, body.user #main, body.item #main, body.user-public-profile #main {
	width:auto;
	float:none;
	clear:both;
}

#responsive-trigger {
	display:block;
}

#sidebar {
	width: 100%;
padding: 0px;
}

#header {
	padding-bottom:0px;
}

#footer {
	margin-top: 40px;
padding-top: 20px;
text-align: center;
height: 0px;
}

#footer ul {
	float:none;
	font-size:0.99em;
	
}
.scrollup{
	height:0px;
	width:0px;
	
}

.footer-links {
	display:none!important;
	
}

.flashmessage {
	padding:15px 40px 15px 15px;
	width:auto;
}

.contact_button a {
margin-bottom: 10px;
background: #fab23a;
padding-left: 10px !important;
}

#header {
	height:auto;
	margin-bottom:20px;
}

#header #logo {
	font-size: 1.7em;
letter-spacing: -0.07em;
padding-bottom: 10px;
padding-left: 10px;
	
}

#header #logo span {
	display:none;
}

#header .wrapper {
	padding-left:0;
	padding-right:0;
	width:100%;
	position:relative;
}

.main-search { 
	top:100%;
	margin-left:0;
	left:0;
	position:absolute;
	width:100%;
	padding-left:0;
	padding-right:0;
	border-width:0 0 1px 0;
	display:none;
	position:absolute;
	margin-top:0;
}

.main-search .cell {
	display:table-cell;
	width:100%;
	padding-left:5px;
	vertical-align:top;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#2e3639;
}


.about-box{

display:none;

}


.advertice-box{

display:none;

}


.write-box{

display:none;

}



.main-search .cell:last-child {
	padding-left:34px;
	padding-right:5px;
}

.main-search input {
	width:100%;
}

.main-search .selector {
	display:none;
}

.main-search .reset-padding {
	padding-left:0px;
}

#header .nav {

display: none;
	
}

#header .nav li {
	height:100%;
}

#header .nav li a {
	height:100%;
	padding:0 15px;
	background-color:#23a4b8;
	color:#fff;
	display:table;
	border-left:solid 1px #1b7e8d;
	font-size:30px;
	margin-left:0;
}

#header .nav li.active a, #header .nav li a:hover {
	background-color:#1b7e8d;
	color:#fff;
}

#header .nav li .icons:after {
	display:table-cell;
	vertical-align:middle;
}

#header .nav li {
	display:none;
}

#header .nav li.search, #header .nav li.cat {
	display:block;
}

body.item #sidebar .widget-box {
	padding:20px;
}

body.item #sidebar .form-container .controls input, body.item #sidebar .form-container .controls textarea {
	width:238px;
}

body.item #sidebar .form-container label {
	font-size:0.75em;
}

body.item #contact h2 {
	margin-top:0px;
}

.alert_form {
	background-color:transparent;
}

#alert_email {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.form-container .controls input, #sidebar .input-text {
	height:32px;
}

input[type="checkbox"] {
	width:auto;
	height:auto;
	
}

textarea, body.item #sidebar .form-container .controls input, body.item #sidebar .form-container .controls textarea, .form-container .controls input, #sidebar .input-text, button, .ui-button {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

ul.r-list {
	width:100%;
	float:none;
	margin:0;
	padding:0;
	list-style:none;
	border:none;
	background-color:transparent;
	text-shadow:none;
}

ul.r-list:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

ul.r-list li {
	position:relative;
	margin-bottom:5px;
	margin-right:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

ul.r-list>li:nth-child(2n) {
	padding-left:5px;
}

ul.r-list>li:nth-child(odd) {
	clear:both;
}

.r-list>li.clear, .r-list>li:nth-child(4n) {
	clear:none;
}

ul.r-list li a {
	text-decoration:none;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	font-weight:bold;
	display:block;
	padding:10px;
	
	
	
	border-width:0px;

	font-size:0.5em;
	
	color : #3a3a3b;
	background-color:#fff;
	
}

ul.r-list li h1 {
	margin:0;
}

ul.r-list li span {
	display:none;
}

ul.r-list li ul {
	-webkit-transition:opacity 1s ease-out;
	opacity:0;
	height:0;
	overflow:hidden;
}

ul.r-list li.active a  {
background-color : #FAB23A;
color : #3A3A3B;
text-shadow : none;
}


ul.r-list li.active ul {
	opacity:1;
	height:auto;
	margin:0;
	padding:5px 0 0 0;
	margin-bottom:5px;
}

ul.r-list li.active ul li {
	padding:0;
}

ul.r-list li.active ul li a  {
background-color : #3A3A3B;

color : #FFFFFF;
font-size : 0.82em;
}

ul.r-list li ul li {
	float:none;
	width:100%;
}

div.cell_3:nth-child(2n) {
	margin:0 1%;
	width:31%;
}

.select-box {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.select-box select {
	width:100%;
}

body.item-post #footer .resp-toogle {
	display:none;
}

body.display-cat .r-list {
	display:block;
}

body.display-search .main-search, body.home .main-search {
	display:table;
}

body.display-search #header, body.home #header {
	margin-bottom:80px;
}

.resp-toogle {
	display:block;
}

body.display-filters div#sidebar {
	display:block;
}

.show-filters-btn {
	display:inline-block;
	
	background-color:#f7f7f7;
	-webkit-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
	font-size:1em;
	line-height:16px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	height:16px;
	outline:0;
	padding:5px 6px;
	text-decoration:none;
	color:#9e9e9e;
}
.breadcrumb li.last-child{
display:none;
}

.form-container-box {
	width:auto;
}

.form-container .checkbox {
	margin-bottom:15px;
}

.form-container .checkbox input {
	width:auto;
}

.form-horizontal .actions {
	margin:0;
	padding-left:0px;
	padding-right:0px;
}

.form-horizontal label {
	float:none;
	width:100%;
	font-size:0.85em;
}

.form-horizontal .controls {
	width:auto;
	margin-left:0;
}

body.item-post .select-box {
	margin-bottom:10px;
}

#item-post select {
	width:100%;
}

.form-horizontal .select-box {
	width:100%;
}

.listing-grid .listing-card, body.search .listing-grid .listing-card {
	width:32%;
	padding:0%;
	border:0;
	margin:1%;
}

.listing-grid .listing-detail {
	border:solid 1px #ECECEC;
}

.listing-grid .listing-thumb {
	float:none;
}

.listing-grid .listing-thumb img {
	height:auto;
	width:92%;
	margin:4%;
	float:left;
}

.listing-grid .listing-cell {
	display:block;
	width:92%;
	padding:4%;
}

.listing-grid .listing-basicinfo p {
	display:none;
}

.listing-grid .listing-basicinfo a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%;
	
}


.box.location{
    padding: 15px;
	
}

.listing-grid .listing-card:nth-child(3n), body.search .listing-card:nth-child(3n) {
	margin-right:0%;
}

.listing-grid .listing-card:nth-child(3n+1), body.search .listing-grid .listing-card:nth-child(3n+1) {
	margin-left:0%;
	clear:both;
}

body.not-found .categories h2, body.not-found .categories h3 {
	float:none;
	width:100%;
}

body.item #sidebar, body.user-public-profile #sidebar {/*sss*/
	margin-top:20px;
}

.item-photos .thumbs {
	float:none;
	margin-top:10px;
	width:96%;
	clear:both;
}

.item-photos .main-photo {
	width:100%;
	float:none;
}

.item-photos .main-photo img {
	width:100%;
}

body.search #sidebar, body.user #sidebar {
	width:auto;
	float:none;
	margin-bottom:40px;
}

body.search #content {
	position:relative;
	padding-top:100px;
}

body.user #sidebar {
	margin-top:15px;
}

body.search .list-header {
	position:absolute;
	top:0;
	width:100%;
	left:0;
	height:80px;
}

body.search #sidebar, body.user #sidebar {
	display:none;
	background-color:#f7f7f7;
	border:solid 1px #eaeaea;
	padding:10px 15px 5px;
	width:auto;
	float:none;
	margin-top:20px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

body.search #content h1 {
	display:block;
	margin:0;
	font-size:1.5em;
}

.resp-wrapper {
	padding:0 10px;
}

body.search .list-header .actions {
	padding:10px 0;
	clear:both;
}

body.display-filters .show-filters-btn {
	background-color: #444;
color: white;
border-radius: 3px;
}

}@media only screen and (max-width: 640px) {
	body .item-header #type_dates {
	float:none;
}

body div.cell_3, body div.cell_3:nth-child(2n) {
	margin:0;
	width:100%;
}

}@media only screen and (max-width: 480px) {
	ul.r-list li {
	float:none;
	width:100%;
}

ul.r-list>li:nth-child(2n), body.search ul.r-list>li:nth-child(2n) {
	padding-left:0px;
}

.listing-grid .listing-card, body.search .listing-grid .listing-card {
	width:49%;
	clear:none;
}

.listing-grid .listing-card:nth-child(2n), body.search .listing-grid .listing-card:nth-child(2n) {
	margin-right:0%;
	margin-left:1%;
	clear:none;
}

.listing-grid .listing-card:nth-child(2n+1), body.search .listing-grid .listing-card:nth-child(2n+1) {
	margin-left:0%;
	margin-right:1%;
	clear:both !important;
}


}#plugin-hook .row {
	clear:both;
	margin-bottom:10px;
}

#plugin-hook .row label {
	margin-right:20px;
}



